<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body style="<%= color_scheme %>">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>Color scheme: <%= color_scheme %></p>
  </body>
</html>
